---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import PageLayout from '../layouts/PageLayout.astro';
import Taxonomy from '../components/Taxonomy.astro';
import { formatJPDate, toISODateTime } from '../utils/date';
import Recommend from '../components/Recommend.astro';

export async function getStaticPaths() {
  const blogs = await getCollection('blogs');

  return blogs.map((blog) => ({
    params: { slug: blog.data.slug },
    props: { blog, blogs },
  }));
}

const { blog, blogs } = Astro.props;

const publishedDate = formatJPDate(blog.data.publishedAt);
const updatedDate = formatJPDate(blog.data.updatedAt);
const thumbnailUrl = blog.data.thumbnail?.url ?? '/images/no-images.png';

const pickupIds = blog.data.pickup ?? [];
const pickupBlogs = pickupIds
  .map((p) => blogs.find((b) => b.id === p.id))
  .filter((b): b is (typeof blogs)[number] => Boolean(b));
---

<PageLayout title={blog.data.title} description={blog.data.description}>
  <main>
    <Image
      src={thumbnailUrl}
      alt={blog.data.title}
      width={800}
      height={450}
      densities={[1.5, 2]}
      fetchpriority="high"
    />

    <h1>{blog.data.title}</h1>

    <header>
      <time datetime={toISODateTime(blog.data.publishedAt)}>
        {
          blog.data.updatedAt > blog.data.publishedAt && (
            <span>
              更新{' '}
              <time datetime={toISODateTime(blog.data.updatedAt)}>
                {updatedDate}
              </time>
              {' / '}
            </span>
          )
        }
        公開：{publishedDate}
      </time>
    </header>

    <Taxonomy category={blog.data.category} tags={blog.data.tags} />

    <div set:html={blog.data.content} />

    <Recommend slot="recommend" contents={pickupBlogs} title="ピックアップ" />
  </main>
</PageLayout>
