---
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Taxonomy from '../components/Taxonomy.astro';
import { formatJPDate, toISODateTime } from '../utils/date';

export async function getStaticPaths() {
  const blogs = await getCollection('blogs');

  return blogs.map((blog) => ({
    params: { slug: blog.data.slug },
    props: { blog },
  }));
}

const { blog } = Astro.props;

const publishedDate = formatJPDate(blog.data.publishedAt);
const updatedDate = formatJPDate(blog.data.updatedAt);
const thumbnailUrl = blog.data.thumbnail?.url ?? '/images/no-images.png';
---

<BaseLayout title={blog.data.title} description={blog.data.description}>
  <main>
    <Image
      src={thumbnailUrl}
      alt={blog.data.title}
      width={800}
      height={450}
      densities={[1.5, 2]}
      fetchpriority="high"
    />

    <h1>{blog.data.title}</h1>

    <header>
      <time datetime={toISODateTime(blog.data.publishedAt)}>
        {
          blog.data.updatedAt > blog.data.publishedAt && (
            <span>
              更新{' '}
              <time datetime={toISODateTime(blog.data.updatedAt)}>
                {updatedDate}
              </time>
              {' / '}
            </span>
          )
        }
        公開：{publishedDate}
      </time>
    </header>

    <Taxonomy category={blog.data.category} tags={blog.data.tags} />

    <div set:html={blog.data.content} />
  </main>
</BaseLayout>

<style is:global>
  img {
    /* TODO: 後に削除 */
    width: 10%;
    height: auto;
  }
</style>
