---
import '../../../../styles/pages/paged.scss';

import { getCollection } from 'astro:content';
import type { GetStaticPathsOptions } from 'astro';
import BaseLayout from '../../../../layouts/BaseLayout.astro';
import ArticleCard from '../../../../components/ArticleCard.astro';
import Pagination from '../../../../components/Pagination.astro';
import { pagination } from '../../../../data/constants';
import { groupPostsByTaxonomy } from '../../../../utils/taxonomy';

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const posts = await getCollection('blogs');
  const tagMap = groupPostsByTaxonomy(posts, (post) => post.data.tags);

  const paths = [];

  for (const { name, slug, posts } of tagMap.values()) {
    const paginated = paginate(posts, {
      pageSize: pagination.pageSize,
      params: { slug },
      props: { name },
    });

    paths.push(...paginated);
  }

  return paths;
};

const { page, name } = Astro.props;
---

<BaseLayout
  title={`タグ: ${name} - ${page.currentPage}ページ目`}
  noindex={true}
>
  <div class="page stack">
    <header>
      <h1>
        タグ: {name}
        <span>（{page.total}件 - {page.currentPage}ページ目）</span>
      </h1>
    </header>

    <div class="article-card">
      <ArticleCard blogs={page.data} />
    </div>

    <div class="pagination">
      <Pagination
        currentPage={page.currentPage}
        lastPage={page.lastPage}
        basePath={`/taxonomy/tag/${Astro.params.slug}`}
      />
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  @property --stack-gap {
    syntax: '<length>';
    inherits: false;
    initial-value: 24px;
  }

  .stack {
    > * + * {
      margin-top: var(--stack-gap, 1.5rem);
    }
  }
</style>
