---
import { site } from '../data/constants';

const { noindex = false, title, description } = Astro.props;

const GTM_ID = import.meta.env.PUBLIC_GTM_ID;
const canonicalUrl = new URL(Astro.url.pathname, Astro.site);

const siteTitle = site.title;
const siteDescription = site.description;

const pageTitle = title ? `${title} | ${siteTitle}` : siteTitle;
const pageDescription = description ?? siteDescription;
---

<!-- Google Tag Manager -->
{GTM_ID && (
  <script type="text/partytown" define:vars={{ GTM_ID }}>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' });
      const f = d.getElementsByTagName(s)[0];
      const j = d.createElement(s);
      const dl = l !== 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', GTM_ID);
  </script>
)}

<!-- Base Meta -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical -->
<link rel="canonical" href={canonicalUrl.href} />

<!-- Primary Meta -->
<title>{pageTitle}</title>
<meta name="description" content={pageDescription} />

<!-- Icons -->
<link rel="icon" href="/favicon.ico" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" />

<!-- noindex -->
{noindex && <meta name="robots" content="noindex, nofollow" />}
