---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

type Blog = CollectionEntry<'blogs'>;

interface Props {
  contents: Blog[];
  title: string;
}

const { contents, title } = Astro.props;
---

<aside>
  <article>
    <h3>{title}</h3>

    <ul>
      {
        contents.map((item) => (
          <li>
            <a href={`/${item.data.slug}`}>
              {item.data.thumbnail && (
                <Image
                  src={item.data.thumbnail.url}
                  alt={item.data.title}
                  width={item.data.thumbnail.width}
                  height={item.data.thumbnail.height}
                />
              )}
              <h4>{item.data.title}</h4>
            </a>
          </li>
        ))
      }
    </ul>
  </article>
</aside>
