---
import { getCollection, type CollectionEntry } from 'astro:content';
import type { GetStaticPathsOptions } from 'astro';
import BaseLayout from '../../../../layouts/BaseLayout.astro';
import ArticleCard from '../../../../components/ArticleCard.astro';
import Pagination from '../../../../components/Pagination.astro';
import { pagination } from '../../../../data/constants';

export const getStaticPaths = async ({ paginate }: GetStaticPathsOptions) => {
  const posts = (await getCollection('blogs')).sort(
    (a, b) => b.data.publishedAt.getTime() - a.data.publishedAt.getTime()
  );

  const categoryMap = new Map<
    string,
    { name: string; slug: string; posts: CollectionEntry<'blogs'>[] }
  >();

  posts.forEach((post) => {
    const categories = post.data.category ?? [];
    categories.forEach((cat) => {
      const slug = cat.slug ?? cat.id;
      if (!categoryMap.has(slug)) {
        categoryMap.set(slug, { name: cat.name, slug, posts: [] });
      }
      categoryMap.get(slug)?.posts.push(post);
    });
  });

  const paths = [];

  for (const { name, slug, posts } of categoryMap.values()) {
    const typedPosts = posts as CollectionEntry<'blogs'>[];

    const paginated = paginate(typedPosts, {
      pageSize: pagination.pageSize,
      params: { slug },
      props: { name },
    });

    paths.push(...paginated);
  }

  return paths;
};

const { page, name } = Astro.props;
---

<BaseLayout
  title={`カテゴリ: ${name} - ${page.currentPage}ページ目`}
  noindex={true}
>
  <div class="stack">
    <header>
      <h1>
        カテゴリ: {name}
        <span>（{page.total}件 - {page.currentPage}ページ目）</span>
      </h1>
    </header>

    <div class="article-card">
      <ArticleCard blogs={page.data} />
    </div>

    <div class="pagination">
      <Pagination
        currentPage={page.currentPage}
        lastPage={page.lastPage}
        basePath={`/taxonomy/category/${Astro.params.slug}`}
      />
    </div>
  </div>
</BaseLayout>
